@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    font-family: "Pretendard", sans-serif;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
.navbar {
    background-color: #f8f9fa;
}
.navbar-title {
    font-weight: 700;
    color: #212529;
}
.nav-link {
    color: #212529;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    transition: background-color 0.3s;
}
.nav-link:hover {
    background-color: #e9ecef;
    color: #212529;
}
.dropdown-menu {
    background-color: #f8f9fa;
    border: none;
}
.dropdown-item {
    color: #212529;
    transition: background-color 0.3s;
}
.dropdown-item:hover {
    background-color: #e9ecef;
}
.main-img{
    width: 20%;
    border-radius: 10px;
    margin-top: 3rem;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.main-title{
    font-weight: 700;
    color: #212529;
    font-size: 2rem;
    text-align: center;
}
.main-title, .chez-invite{
    opacity: 1;
}
.chez-invite{
    background-color: #ffff;
    border: 1px solid #77dd9e;
    color: #77dd9e;
    width: 7rem;
    height: 4rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
}
.chez-invite:hover{
    background-color: #77dd9e;
    color: #ffff;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}